@page
@model bookstore_nathanck.Pages.PurschaseCompletedModel
@{
}
<div class="text-center">
    <h2>thenk you for your order</h2>
    <a class="btn btn-primary" asp-controller="Home"> return home
    </a>
</div>